{% extends 'base.html.twig' %}

{% block body %}

        <div id="center_div">
            <h2 style="text-align: center; margin-bottom: 30px;"> Database config:</h2>

            <table class="table table-bordered">

                {% for single in db_config %}
                    <tr>
                        <td>Database host: </td><td>{{ single.database_host }}</td>
                    </tr>
                    <tr>
                            <td>Database port:</td><td>{% if single.database_port == null %} null {% else %} {{ single.database_port }}{% endif %}</td>
                    </tr>
                    <tr>
                            <td>Database name:</td><td>{{ single.database_name }}</td>
                    </tr>
                    <tr>
                        <td>Database user:</td><td>{{ single.database_user }}</td>
                    </tr>
                    <tr>
                        <td>Database password:</td><td>{{ single.database_password }}</td>
                    </tr>

                {% endfor %}

            </table>
        </div>



{% endblock %}